<!DOCTYPE html>
<html ng-app="welcome">
<head>
	<title>GRAPH</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="lib/misc.js"></script>
	<script src="lib/svg.js"></script>
	<script src="modules/welcome.js"></script>
	<link rel="stylesheet" href="css/svg.css" />
</head>
<body>
<section ng-controller="svg_controller">
	<header><h2>Query result</h2></header>
	<div>
		<svg width="500" height="300">
		<g>
			<line class="link" x1="{{ c.x1 }}" y1="{{ c.y1 }}" x2="{{ c.x2 }}" y2="{{ c.y2 }}" ng-repeat="c in links" />
		</g>
		<g>
			<circle class="node" cx="{{ c.x }}" cy="{{ c.y }}" r="7" ng-repeat="c in circles" />
		</g>
		</svg>
	</div>
</section>
</body>
</html>